<html>
    <head>
        <title> Weight Visualizer </title>

        <meta charset="utf-8">


        <!-- Set favicon -->
        <link rel="icon" href="/static/icons/smc_favicon.ico">



        <!-- ==================================================================== -->
        <!-- =================              CSS                 ================= -->
        <!-- ==================================================================== -->

        <!-- Custom Style Sheets -->
        <!-- =================== -->
        <link rel="stylesheet" href="/static/css/style.css">



        <!-- ==================================================================== -->
        <!-- =================          JAVASCRIPT              ================= -->
        <!-- ==================================================================== -->

        <!-- Library JS scripts -->
        <!-- ================== -->
        <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
        <script src="/static/js/lib/jquery-ui.js"></script>
        <script src="/static/js/lib/tether.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/jquery.shapeshift.min.js"></script>
        <script src="/static/js/lib/d3.min.js"></script>
        <script src="/static/js/lib/nv.d3.min.js"></script>
        <script src="/static/js/lib/vis.min.js"></script>
        <script src="/static/js/lib/spin.js"></script>
        <script src="/static/js/lib/d3-hsv.min.js"></script>
        <script src="/static/js/lib/topojson.v1.min.js"></script>
        <script src="/static/js/lib/tile-0.0.4.js"></script>
        <script src="/static/js/lib/pouchdb-6.3.4.min.js"></script>

        <!-- Custom JS scripts -->
        <!-- ================= -->
        <script src="/static/js/usr/initialize.js"></script>
        <script src="/static/js/usr/d3-tip.js"></script>

    </head>

    <body>
    </body>

</html>
